body {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.header {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    border-radius: 12px;
    padding: 5px;
    border: black solid 1px
}

.button:hover {
    background-color: lightgreen
}

.boxContainer {
    display: flex;
    justify-content: center
}